<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember shop</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <script type='text/x-handlebars' data-template-name='application'>
    <div class='navbar navbar-default'>
      <div class='container'>
        {{#link-to 'index' class='navbar-brand'}}Logo{{/link-to}}
        <ul class='nav navbar-nav navbar-right'>
          {{#link-to 'index' tagName='li'}}Home{{/link-to}}
          {{#link-to 'products' tagName='li'}}Products{{/link-to}}
          {{#link-to 'contacts' tagName='li'}}Contacts{{/link-to}}
        </ul>
      </div>
    </div>
    <div class='container'>
      {{outlet}}
    </div>
    <footer class='container'>
      <hr />
      <p class='pull-left'>&copy; 2013 The Flint &amp; Flame</p>
      <p class='pull-right'>{{#link-to 'credits'}}Credits{{/link-to}}</p>
    </footer>
  </script>

  <script type='text/x-handlebars' data-template-name='index'>
    <div class='jumbotron'>
      <h1>Ember test</h1>
      <p class='tagline'>
        <img {{bind-attr src='logo'}} alt='Logo' />
        Everything you need to make it through the winter.
      </p>
      <p>
        {{#link-to 'products' class='btn btn-primary btn-lg'}}
          Browse All {{productsCount}} Items &raquo;
        {{/link-to}}
      </p>

      <div class='row'>
        {{#each onSale}}
          {{product-details product=this classNames='col-sm-4'}}
        {{/each}}
      </div>
    </div>
    <p class='pull-right text-muted'>Rendered on {{time}}</p>
  </script>

  <script type='text/x-handlebars' data-template-name='credits'>
    <h1>Thanks for the Help!</h1>
    <p>This site would not be possible without the hardworking Ember Core Team!</p>
  </script>

  <script type='text/x-handlebars' data-template-name='products/index'>
    <h1>Products</h1>
    <ul class='list-unstyled'>
      {{#each}}
        {{product-details product=this tagName='li' classNames='row'}}
      {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name='products'>
    <div class='row'>
      <div class='col-sm-3'>
        <div class='list-group'>
          {{#link-to 'products.onsale'}}On sale{{/link-to}}
          {{#link-to 'products.deals'}}Deals{{/link-to}}
        </div>
        <div class='list-group'>
          {{#each}}
            {{#link-to 'product' this classNames='list-group-item'}}
              {{title}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
      <div class='col-sm-9'>
        {{outlet}}
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name='products/onsale'>
    <div class='row'>
      <h1>Products On Sale</h1>
        <ul class='list-unstyled'>
          {{#each}}
            {{product-details product=this tagName='li' classNames='row'}}
          {{/each}}
        </ul>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="products/deals">
    <h1>Product deals</h1>
    <ul class='list-unstyled'>
      {{#each}}
        {{product-details product=this tagName='li' classNames='row'}}
      {{/each}}
    </ul>
  </script>

  <script type='text/x-handlebars' data-template-name='product'>
    <div class='row'>
      <div class='col-sm-7'>
        <h2>{{title}}</h2>
        <h3 class='text-success'>{{money price}}</h3>
        <p class='text-muted'>{{description}}</p>
        <p class='text-muted'>This Product has a {{rating}} star rating!</p>
        <h3>Crafter</h3>
        <p>{{#link-to 'contact' crafter}}{{crafter.name}}{{/link-to}}</p>

        {{render 'reviews' reviews}}

        {{#if isNotReviewed}}
          <div class='new-review'>
            <h3>Review {{title}}</h3>
            {{#if review.text}}
              <p class='text-muted'>{{review.text}}</p>
            {{/if}}
            {{textarea valueBinding='review.text'}}
            {{view Ember.Select content=ratings value=review.rating}}
            <button {{action 'createReview'}} class='btn-primary'>Review</button>
          </div>
        {{/if}}
      </div>
      <div class='col-sm-5'>
        <img {{bind-attr src='image'}} class='img-thumbnail img-rounded'/>
      </div>
      {{contact-details contact=crafter className='row'}}
    </div>
  </script>

  <script type='text/x-handlebars' data-template-name='contacts/index'>
    <div class='row'>
      <img {{bind-attr src='avatar'}} alt='Avatar' class='img-thumbnail col-sm-4'/>
      <div class='col-sm-8'>
        <h1>About The Fire Spirits</h1>
        <p>Contact {{contactName}} for more info!</p>
        <p>Current Status: {{open}}.</p>
      </div>
    </div>
  </script>

  <script type='text/x-handlebars' data-template-name='contacts'>
    <div class='row'>
      <div class='col-sm-9'>
        {{outlet}}
      </div>
      <div class='col-sm-3'>
        <div class='list-group'>
          {{#each}}
            {{#link-to 'contact' this classNames='list-group-item'}}
              {{name}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
    </div>
  </script>

  <script type='text/x-handlebars' data-template-name='contact'>
    <div class='row'>
      <div class='col-sm-5'>
        <img {{bind-attr src='avatar' alt='name'}} class='img-thumbnail img-rounded'/>
      </div>
      <div class='col-sm-7'>
        <h2>{{name}}</h2>
        <p>{{about}}</p>
        {{render 'contact/products' products}}
      </div>
    </div>
  </script>

  <script type='text/x-handlebars' data-template-name='components/product-details'>
    <img {{bind-attr src='product.image'}} class='img-thumbnail col-sm-5' />
    <div class='col-sm-7'>
      <h2>{{product.title}}</h2>
      <p class='product-description'>{{product.description}}</p>
      <p>{{#link-to 'product' product class='btn btn-success'}}
        Buy for {{money product.price}}{{/link-to}}</p>
        {{#if hasReviews}}
          <p class='text-muted'>Read all reviews ({{reviewsCount}}).</p>
        {{/if}}
    </div>
  </script>

  <script type='text/x-handlebars' data-template-name='components/contact-details'>
      <div class='col-sm-9'>
        <h2>About {{contact.name}}</h2>
        <p>{{contact.about}}</p>
        {{#if isProductive}}
          <p class='text-muted'>Responsible for {{productsCount}} amazing products!</p>
        {{/if}}
      </div>
      <div class='col-sm-3'>
        <img {{bind-attr src='contact.avatar' alt='contact.name'}} class='img-thumbnail img-rounded'/>
      </div>
    </script>

  <script type='text/x-handlebars' data-template-name='reviews'>
    <h3>Reviews</h3>
    <ul>
      {{#each}}
        {{#view 'App.ReviewView' tag='li' length=text.length}}
          <p>{{markdown text}}</p>
          <!--<span class='expand text-success'>{{#if view.isExpanded}}Read Less{{else}}Read More{{/if}}</span>-->
        {{/view}}
      {{else}}
        <li><p class='text-muted'><em>No reviews yet. Be the first to write one!</em></p></li>
      {{/each}}
    </ul>
  </script>

  <script type='text/x-handlebars' data-template-name='contact/products'>
    <h3>Products</h3>
    <ul>
      {{#each}}
      <li>{{#link-to 'product' this}}{{title}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </script>

  <script src='js/libs/jquery-1.10.2.js'></script>
  <script src='js/libs/accounting.min.js'></script>
  <script src='js/libs/markdown.min.js'></script>
  <script src='js/libs/handlebars-1.1.2.js'></script>
  <script src='js/libs/ember-1.4.0.js'></script>
  <script src='js/libs/ember-data.js'></script>
  <script src="js/libs/localstorage_adapter.js"></script>

  <script src='js/app.js'></script>
  <script src='js/router.js'></script>
  <script src='js/controllers.js'></script>
  <script src='js/routes.js'></script>
  <script src='js/views.js'></script>
  <script src='js/components.js'></script>
  <script src='js/models.js'></script>
  <script src='js/handlebar_helpers.js'></script>
</body>
</html>
